/* Estilos para la tabla */
#productosTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  #productosTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  #productosTable th,
  #productosTable td {
    padding: 12px 15px;
  }
  
  #productosTable tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  #productosTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  #productosTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  #productosTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }